body {
    font-family: "Times New Roman", Times, serif;
}

/* .navbar {
    background-color: blue;
} */

.navbar-default .navbar-brand {
    color: green;
}

.navbar-default .navbar-nav>li>a {
    color: green;
    text-decoration: none;
}

 /* GRID INFO */
 .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: 200px 200px 200px 200px;
    grid-column-gap: 1px;
    grid-gap: 1px;
 }

 .grid div {
     background-color: green;
 }

 .one {
  order: 4;   
 }