body {
    font-family: "Times New Roman", Times, serif;
}

/* .navbar {
    background-color: blue;
} */

.navbar-default .navbar-brand {
    color: green;
}

.navbar-default .navbar-nav>li>a {
    color: green;
    text-decoration: none;
}

 /* GRID INFO */
 /* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));   
    grid-gap: 20px; 
} */

/* .grid {
    display: grid;
    grid-template-columns: 2fr [content-start] 4fr [content-end]; 
    grid-template-rows: auto [content-start] auto [content-end];   
    grid-gap: 20px; 
} */

body { 
    box-sizing: border-box;
    
    background: #9BC1BC;
    font: {
      size: 1.5rem;
      family: 'Cutive Mono', monospace;
    }
    text-align: center;
    padding: 2em;
  }

  h1 {
    margin-bottom: 0;
    text-align: center;
  }
  
  p { 
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

.box {
    background: #FF4365;
    padding: 1em;
  }
  

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr); 
}

.one {
    background: #495867;
    grid-column: 3;
    grid-row: span 20;
} 

.a {
    grid-row: span 10;
}

  
